<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <h5><%= msg %></h5>
    <form action="/login?url=<%= url %>" method="post">
      <div>email : <input type="text" name="email" /></div>
      <br />
      <div>passowrd : <input type="password" name="password" /></div>
      <br />
      <div>
        <input type="submit" value="Login" />
      </div>
      <br />
      <a href="http://sso.local:4000?url=<%= url %>">go Home</a>
    </form>
  </body>
</html>
